<table class="table table-bordered">
	<em>
	<thead>
		<th>Kickoff Returns</th>
		<th>Return TD</th>
		<th>Return Yards</th>
		<th>Return Long</th>
	</thead>
	</em>
	<tbody>
		<td><%= specialteam.returners_koreturns %></td>
		<td><%= specialteam.returners_kotd %></td>
		<td><%= specialteam.returners_koyards %></td>
		<td><%= specialteam.returners_kolong %></td>
	</tbody>
</table>
