<table class="table table-bordered">
	<em>
	<thead>
		<th>Punts</th>
		<th>Yards</th>
		<th>Long</th>
		<th>Blocked</th>
	</thead>
	</em>
	<tbody>
		<td><%= specialteam.kickers_punts %></td>
		<td><%= specialteam.kickers_punts_yards %></td>
		<td><%= specialteam.kickers_punts_long %></td>
		<td><%= specialteam.kickers_punts_blocked %></td>
	</tbody>
</table>
