<table class="table table-bordered">
	<em>
	<thead>
		<th>Kickoffs</th>
		<th>Touchbacks</th>
		<th>Returned</th>
	</thead>
	</em>
	<tbody>
		<td><%= specialteam.kickers_koattempts %></td>
		<td><%= specialteam.kickers_kotouchbacks %></td>
		<td><%= specialteam.kickers_koreturned %></td>
	</tbody>
</table>
