<table class="table table-bordered">
	<em>
	<thead>
		<th>Punt Returns</th>
		<th>Return Yards</th>
		<th>Return TD</th>
		<th>Return Long</th>
	</thead>
	</em>
	<tbody>
		<td><%= specialteam.returners_punt_return %></td>
		<td><%= specialteam.returners_punt_returnyards %></td>
		<td><%= specialteam.returners_punt_returntd %></td>
		<td><%= specialteam.returners_punt_returnlong %></td>
	</tbody>
</table>
