<% provide(:title, current_site.sitename + "  Find Eazesportz Sport") %>
<div class="row">
	<div class="col-xs-10">
		<%= render 'sports/findsport', sports: @sports, path: findsport_sport_team_gameschedules_path, findsite: false, thesport: @thesport %>
	</div>
</div>
