<% provide(:title, "Game Tracker - Mobile Apps for Football, Basketball and Soccer") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<div class="well">
			<h4 class="text-info">Step one - Administrator of the sports program creates ad inventory.</h4>
			<%= image_tag "fanapp/AdInventoryImage.png", class: 'img-responsive' %>
		</div>
	</div>
	<div class="col-xs-11">
		<div class="well">
			<h4 class="text-info">Step two - A sponsor enters their info, chooses an ad level and uploads their digital media .....</h4>
			<%= image_tag "fanapp/ad-enter-info.png", class: 'img-responsive' %>
		</div>
	</div>
	<div class="col-xs-11">
		<div class="well">
			<h4 class="text-info">Step three - Sponsors can change their info or update their digital media at any time .....</h4>
			<%= image_tag "fanapp/adinfo-upload.png", class: 'img-responsive' %>
		</div>
	</div>
	<div class="col-xs-11">
		<div class="well">
			<h5 class="text-info">Advertisers can choose not to upload digital media. Your team logo will be used instead of sponsor supplied digital media if no digital media is uploaded.</h5>
			<h5 class="text-info">Advertisers also choose to upload a custom banner for display on mobile devices. They can also choose to allow GameTracker to create a banner automatically.</h5>
		</div>
	</div>
</div>
