<% provide(:title, "Easy Sports Mobile - Create Administrator") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2>Create Administor</h2>
		<h3 class="text-warning"><em>Already and admin? Log in and manage you package from the tools menu!</em></h3>
		<h4 class="text-info">Once you create your user account you will be redirected to a page where you can select your package</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<%= link_to (image_tag "FootballGameStats.png", width: "300", height: "400"), info_path %>
	</div>
	<div class="col-xs-4">
		<%= link_to (image_tag "BasketballGameStats.png", width: "300", height: "400"), info_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5 class="text-danger"><em>We strongly</em> recommend that you create an admin using an email address that belongs to your program. Most programs already have these but if you don't you should create one before proceeding.</h5>
		<h6>You can choose to use a private email address but remember that this email will be used by us to communicate with you.</h6>
		<h6>The administrator will also have the opportunity to designate team managers who will have certain access rights to make changes like updating player bios, approving photos, etc. This capability should assist you in keeping the number of people who have access to the admin username and password to a minimum.</h6>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-4">	
    	If you are ready, click below and you will become the administrator for the site:<p>
		<%= link_to "Create Admin", new_user_registration_path, class: "btn btn-sm btn-primary" %>
	</div>
    <div class="col-xs-4 col-xs-offset-1">
	    If you are looking for a site powered by Eazesportz.com, click below to find the site.<p>
		<%= link_to "Search", sports_path, class: "btn btn-sm btn-primary" %>
	</div>
</div>