<p>
<div class="row">
	<div class="span10">
		<div class="row">
			<div class="span5">
				<h2>Welcome to Eazesportz.com!</h2>
				<p>
				<h5>Thank you for your interest and for signing up. We are currently in beta. Please email us at info@eazesportz.com and we will contact you about 
					activation so you can start adding content for your fans!</h5>
			</div>
			<div class="span4 offset1">
				<%= link_to (image_tag "FC_Live_Stats.png"), info_path %>
			</div> 
		</div>
	</div>
</div>