<% provide(:title, "Easy Sports Mobile - Broadcast Manager App") %>
<p>
<div class="row">
	<div class="col-xs-3">
		<h4 class="text-danger"><em>Broadcast Manager for Mac</em></h4>
		<div class="well">
			<h5 class="text-info">
			Broadcast Manager Features</p>
			<ul>
				<li>Broadcast game live!</li>
				<li>Broadcast pre-recorded events.</li>
				<li>Your fans watch the action using our iPhone app (iPad app coming soon).</li>
				<li>User your Apple TV to watch the game live on your TV!</li>
				<li>Create highlights from your live broadcast while using the Eazesportz Highlight Manager app!</li>
				<li>Much, much more ......</li>
			</ul>
			</h5>
		</div>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<h4 class="text-danger">Manage Broadcast Schedule</h4>
		<%= image_tag "clientapps/BroadcastEvents.png", class: 'img-responsive' %>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<h4 class="text-danger">Broadcast Control Console</h4>
		<%= image_tag "clientapps/BroadcastWindow.png", class: 'img-responsive' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2 col-xs-offset-5">
		<%= link_to "Coming Soon", "#", class: "btn btn-lg btn-primary" %>
	</div>
</div>