<div class="row">
	<div class="col-xs-8 col-xs-offset-1">
		<h3>Contact Eazesportz. Email Us at:</h3>
		<p>
		<em class="text-danger">info@eazesportz.com</em>
		<p>
		<h5>Whether your question is about a sport we don't support, new features you would like to see or about our technology direction we would love to hear from you. We want to hear what you think!</h5>
	</div>
</div>
