<div class="row">
	<div class="col-xs-11">
		<h3>Contact Us. Email Us at:</h3>
		<p>
		<em class="text-danger">info@gametrackerpro.com</em>
		<p>
		<h5>Whether your question is about a sport we don't support or new features you would like to see, we would like to hear from your. We want to hear what you think!</h5>
	</div>
</div>
