<div class="row">
	<div class="col-xs-11">
		<h3>Contact Us. Email us at:</h3>
		<p>
		<em class="text-danger">gametracker.info@gmail.com</em>
		<p>
		<h5>Whether your question is about a sport we don't support, new features you would like to see or problems with our apps we would like to hear from you.</h5>
		<p>
		<h5>We want to hear what you think!</h5>
	</div>
</div>
