<% provide(:title, "Easy Sports Football - Mobile Sports Football") %>
<p>
<div class="row">
	<div class="span10">
		<h2>Eazesportz iPad Football app:</h2>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="row">
			<div class="span5">
				<h5>
				iPad Management Features
				<ul>
					<li>Update live stats for every game!</li>
					<li>Automated scoring computed from stats.</li>
					<li>Upload Photo's and Video's of your team during the game</li>
					<li><strong>Tag Photo's and Video clips by Game, Player and by PLAY!</strong></li>
					<li>Create and manage individual player metadata and roster</li>
					<li>Browse and Manage Game Stats after the game</li>
					<li>Monitor and Mangage your fans live Blog. You never know what they will enter...</li>
					<li>Manage your programs news feed</li>
					<li>Manage your teams Coaches</li>
					<li>Much, much more ......</li>
				</ul>
				</h5>
				<h4><font color="blue">Click on the image to the right to learn more!</font></h4>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h5>Get the app - iTunes!</h5>
			</div>
			<div class="span1">
				<%= link_to image_tag("Football-iPad-50.png", :height => '100', :width => '100'), 
										"https://itunes.apple.com/us/app/eazesportz-football-management/id703243944?mt=8" %>
			</div>
		</div>
	</div>
	<div class="span4 offset1">
		<%= link_to (image_tag "FootballLiveGameStats.png"), info_path %>
	</div> 
</div>
<div class="row">
	<div class="span10">
		<h4>What your fans can do:</h4>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="row">
			<div class="span5">
				<h5>
				Your fans use our iPhone app to access what you create:
				<ul>
					<li>Follow live game updates</li>
					<li>Access live game stats</li>
					<li>Access live game photos and videos</li>
					<li>Track historical season stats</li>
					<li>Follow players and receive score/stat alerts</li>
					<li>Live blog support</li>
					<li>Much, much more ....</li>
				</ul>
				</h5>
				<h4><font color="blue">Click on the image to the right to learn more!</font></h4>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h5>Fans use this app!</h5>
			</div>
			<div class="span1 offset1">
				<%= link_to image_tag("EazeFBiTunesArtwork.png"), "https://itunes.apple.com/us/app/eazesportz-football/id703282588?mt=8" %>
			</div>
		</div>
	</div>
	<div class="span4 offset1">
		<%= link_to (image_tag "FB_GameScore_IOS7.png"), mobileinfo_path %>
	</div>
</div>
