<% provide(:title, 'FAQ Page') %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2 class="text-center text-primary">Eazesportz FAQ Page</h2>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2">
		<div class="row">
			<%= image_tag "FootballGameStats.png", class: 'img-responsive' %>
		</div>
		<p>
		<div class="row">
			<%= image_tag "BasketballGameStats.png", class: 'img-responsive' %>
		</div>
	</div>
	<div class="col-xs-7">
		<div class="well">
			<h3 class="text-primary">Eazesportz faqs</h3>
			<p>
			<dl class="list-inline text-info">
				<dt class="text-info">Do I need a web hosting service?</dt>
				<dd class="text-success">No. You content will be stored in the cloud.</dd>
				<p>
				<dt class="text-info">Can I support more than one team?</dt>
				<dd class="text-success">Yes. When you use Eazesportz to support your sports program you can create a multi team site. Our apps and web site support this.</dd>
				<p>
				<dt class="text-info">Can I support more than one sport with one subscription?</dt>
				<dd class="text-success">No. Eazesportz manages your content based on your sport.</dd>
				<p>
				<dt class="text-info">What about mobile platforms for my web site?</dt>
				<dd class="text-success">Our website is built with mobile and connected devices in mind. We use technology that is built specifically for mobile platforms. No website that makes people miserable trying to use their fingers to make things bigger!.</dd>
				<p>
				<dt class="text-info">Can I customize my web site?</dt>
				<dd class="text-success">Yes. There are different templates you can select from to give your web site the look you want.</dd>
				<p>
				<dt class="text-info">What my own banner or logo?</dt>
				<dd class="text-success">You can upload your custom banner and you even have control of where you want it placed. You can also upload a logo for your site in addition to a logo for each individual team.</dd>
				<p>
				<dt class="text-info">Why different apps for the iPad and iPhone?</dt>
				<dd class="text-success">The iPad apps are designed to provide you the same capabilities you have on the web. The iPad apps also support live stat updates, live photo and live video clip support. We built these to help you get the action to your fans while the game is in progress.</dd>
				<p>
				<dt class="text-info">Why different apps for the iPad apps for different sports?</dt>
				<dd class="text-success">Each sport is different when dealing with stats. Our iPad apps are also focused on making it easy for you to enter live stats at the game.</dd>
				<p>
				<dt class="text-info">Do my fans need a login?</dt>
				<dd class="text-success">No. They don't need a login to view your content on the web or when they use the iPhone app. A login is only required if they want to track players, receive alerts or comment on your program - blog.</dd>
				<p>
				<dt class="text-info">Do I need an admin login?</dt>
				<dd class="text-success">Yes. A login is required to manage your content. Team manager support is being added and will be available soon so you can delegate some team management functions to others in your program.</dd>
				<p>
				<dt class="text-info">How long can my video clips be?</dt>
				<dd class="text-success">There is a twenty second limit per video clip. This should be enough time to post a play, score, etc.</dd>
				<p>
				<dt class="text-info">What about live video?</dt>
				<dd class="text-success">Support for live video is not supported at this time. We are working on it and plan to provide you with the tools you need to broadcast your games!</dd>
				<p>
				<dt class="text-info">What about Android?</dt>
				<dd class="text-success">Android support is planned. Until then, your web site should provide the ability to for your fans to keep track of your program until the app is ready. Remember, the web site is optimized for mobile devies!</dd>
				<p>
				<dt class="text-info">What about other mobile platfomrs?</dt>
				<dd class="text-success">We are focused on mobile. As more mobile platfomrs gain market share we will look at mobile apps for those platforms.</dd>
				<p>
				<dt class="text-info">What about stats from other Eazesportz sites?</dt>
				<dd class="text-success">As more programs come onboard, we will provide the capability to import opponents stats at a future date.</dd>
				<p>
				<dt class="text-info">What about other sports?</dt>
				<dd class="text-success">More sports will be added to our platform in the future. If there is a sport you would like to see added let us know. We wold like to hear what you have to say.</dd>
				<p>
			</dl>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="row">
			<%= image_tag "footballwebhome.png", class: 'img-responsive' %>
		</div>
		<p>
		<div class="row">
			<%= image_tag "SoccerLiveStats.png", class: 'img-responsive' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h4>Did we miss something? Send an email at <strong><em>info@eazesportz.com</em></strong> and let us know. We would like to hear from you!</h4>
	</div>
</div>

