<% provide(:title, "Easy Sports Mobile - Highlights Manager App") %>
<p>
<div class="row">
	<div class="col-xs-4">
		<h3 class="text-success"><em>New - Highlight Manager for Mac</em></h3>
		<div class="well">
			<h5 class="text-info">
			Highlights Manager Features</p>
			<ul>
				<li>Create highlights from existing game footage!</li>
				<li>Edit existing highlights.</li>
				<li>Tag by Player.</li>
				<li>Tag scoring plays (Football and Soccer).</li>
				<li>Create highlights from your live broadcast - Coming soon!</li>
				<li>Much, much more ......</li>
			</ul>
			</h5>
		</div>
	</div>
	<div class="col-xs-6 col-xs-offset-1">
		<%= image_tag "clientapps/HighlightManager.png", class: 'img-responsive' %>
	</div>
</div>
<p>
<div class="row">
	<div class="col-xs-2 col-xs-offset-5">
		<%= link_to "Download Now", "http://Game Tracker.s3.amazonaws.com/Game TrackerHighlights.dmg", class: "btn btn-lg btn-primary" %>
	</div>
</div>