<% provide(:title, "Find Site") %>
<p> 
<div class="row">
  <div class="col-xs-5">
    <% if signed_in? %>
      <h2>Find Eazesportz Site</h2>
    <% else %>
      <h2>Welcome to Eazesportz.com</h2>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= link_to (image_tag "FootballGameStats.png", width: "300", height: "400"), info_path %>
  </div>
</div>
<%= render 'findsport', sports: @sports, path: sports_path, findsite: true, thesport: nil %>
