<% provide(:title, "Easzesportz - New iPhone Mobile App") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h2 class="text-center">Eazesportz iPhone App Now supports all Eazesportz Editing Functions</h2>
		<p>
		<h5 class="text-info">Now you can use our iPhone app to create and manage your sports content. As an administrator of your program, team or players site, you can also allow your fans to upload photos and videos!</h5> 
		<h5 class="text-info">The app supports live stat updates for football, basketball and soccer. Below are some screen shots of what the app can do.</h5>
		<div class="row">
			<div class="col-xs-6">
				<h5 class="text-warning">If you would like to see what the app can do, download it and create a site.</h5> 
			</div>
			<div class="col-xs-2">
				<%= link_to image_tag("EazesportziTunesArtwork.png", class: 'img-responsive'), 
									"#" %>
			</div>
		</div>
		<h5 class="text-danger">If you purchase a platinum package, there will be no ads. Your sponsors will be displayed instead!</h5>
		<p>
	</div>
</div>
