<% provide(:title, 'New Sport') %>
<p>
<div class = "row">
	<div class="span10">
		<h1>Welcome to Eazesportz.com!</h1>
		<p>
		To get started you need to enter some information for your program. You can log into our iPad app and set up your program that way if you prefer. After all, we are a mobile focused company! If you think your fans may use the web also, you can enter a banner customized for your program below. Keep in mind that the logo you select to upload below will also be used by our mobile apps. Don't worry, you can change it here anytime you like or from our iPad app.
		<p>
		Thanks for choosing Eazesportz.com!
		<p>
	</div>
</div>
<p>
	<%= render 'form' %>
