<p>
<font color="#b3f10c">
<div class="row">
	<div class="span10">
		<h4>Pricing options:</h4>
		You can use the site to manage your program free of charge. There will be ads placed on the site if you choose the free option in addition to some limits on the amount of pics and video that can be uploaded. <em>Hey, we got to pay the bills!</em>. If you want unlimited storage and want us to build a branded mobile app for you, we will provide additional storage space for your photos and video free of charge. If you choose this option the app will be branded as your own and when your fans choose the non ad version we split the upgrade charge with you! 
		<p>
		<table class="table table-bordered">
			<thead>
				<th><h5>Features</h5></th>
				<th><h5>Basic - Free</h5></th>
				<th><h5>Branded Mobile App - <em><strong>$99/yr</strong></em></th></h5>
				<th><h5>Branded Mobile App and Domain Mapped Web Site - <em><strong>$199/yr</strong></em></th></h5>
			</thead>
			<tbody>
				<tr>
					<td>Web and Mobile Ads</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
				</tr>
				<tr>
					<td>Home Page</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Schedule</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Roster</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Athlete Photos</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Coaching Staff</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Coach Photos</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Web Site Sponsor Support</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Team Photos</td>
					<td><i class="icon-ok icon-white"></i> Limit 300MB Photo and Videos</td>
					<td><i class="icon-ok icon-white"></i> Limit 1GB Photo and Videos</td>
					<td><i class="icon-ok icon-white"></i> Limit 5GB Photo and Video</td>
				</tr>
				<tr>
					<td>Photo Tagging</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Team Videos</td>
					<td><i class="icon-ok icon-white"></i> Limit 300MB Photo and Videos</td>
					<td><i class="icon-ok icon-white"></i> Limit 1GB Photo and Vides</td>
					<td><i class="icon-ok icon-white"></i> Limit 5GB Photo and Video</td>
				</tr>
				<tr>
					<td>Video Tagging</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Blog</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Follow Players</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Alerts Site/Mobile</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Mobile Sponsor Ad Support</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Web and Mobile Ads</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
				</tr>
				<tr>
					<td>Mobile App Revenue Share</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Custom Web Site</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
			</tbody>
		</table>
		<p>
		<li><h3>Basic</h3>The basic package will help you get started. Our mobile app will provide basic functions. Your fans will love it!</li>
		<li><h3>Branded Mobile App</h3>We will create a branded mobile app for your sports program. All we need is a backgound (team colors) and your logo. Contact us at <em>contact@sportzteams.com</em>.</li>
		<li><h3>Branded Mobile App and Domain Mapped Web Site</h3>Not only do we create a banded mobile app for your program we will also map your programs domain name to your page on our site. Your users will visit that page and experience a cohesive web and mobile experience. Both are branded as your own sites. Contact us at <em>contact@sportzteams.com</em>.</li>
		<p>
    	<h4>Click the button to register your site. You will become the administrator for the site:</h4>
		<%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>