<p>
<div class="row">
	<div class="col-xs-11">
		<h4 class="text-warning">If you are already administering a site, please log in and manage you package from the tools menu</h4>
		<h4 class="text-info">Pricing options:</h4>
		<%= render "pricingtable", newuser: true %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5 class="text-info">Silver limits photo storage to 300MB. Gold expands Photo and Video clip storage to 1GB. Platinum expands storage to 10GB Photo and Video Clips</h5>
		<%= link_to "Get Started!", new_user_registration_path, class: "btn btn-md btn-primary" %>
	</div>
</div>