<p>
<div class="row">
	<div class="col-xs-11">
		<h4 class="text-warning">If you are already administering a site, please log in and manage you package from the tools menu</h4>
		<h4 class="text-info">Pricing options:</h4>
		<%= render "pricingtable", newuser: true %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<h5 class="text-info">Intermediate limits photo and video storage to 5GB. Expert expands Photo and Video storage to 10GB. Platinum expands storage to 50GB Photo and Video</h5>
		<%= link_to "Get Started!", admininfo_path, class: "btn btn-md btn-primary" %>
	</div>
</div>