<% provide(:title, "Game Tracker Privacy Policy") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h1>Eazesportz, LLC. Privacy Policy</h1>
		<p class="text-info">Game Tracker by Eazesportz, LLC. develops mobile solutions for college, high school, youth leages and other amateur sports teams. Like others, Eazesportz, LLC. is concerned about privacy and we do all we can to safeguard all personal information you or your fans may enter using our mobile solutions or web site. This Electronic Privacy Policy addresses only information collected by and displayed on the Game Tracker mobile applications and website.</p>
		<p>
		<h3>Privacy</h3>
		<p class="text-info">Eazesportz, LLC. has put in place appropriate physical, electronic and managerial processes to safeguard the information we collect and prevent unauthorized access of information. Adminstrators of sports programs have the responsibility to protect their adiminstrator passwords to insure that unauthorized people do not have access to your site.</p>
		<h3>What personal information do we collect?</h3>
		<p class="text-info">All registered members of the www.GameTrackerPro.com website and the Game Tracker mobile apps are requested to provide an email address and password in return for access to the site.</p>
		<h3>Cookies</h3>
		<p class="text-info">Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies.</p>
	</div>
</div>
