<% provide(:title, "Game Tracker Privacy Policy") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<h1>Eazesportz, LLC. Privacy Policy</h1>
		<h5 class="text-info">Game Tracker by Eazesportz, LLC. develops mobile solutions for college, high school, youth leages and other amateur sports teams. Like others, Eazesportz, LLC. is concerned about privacy and we do all we can to safeguard all personal information you or your fans may enter using our mobile solutions or web site. This Electronic Privacy Policy addresses only information collected by and displayed on the Game Tracker mobile applications and website.</h5>
		<p>
		<h5 class="text-info">Eazesportz, LLC. has put in place appropriate physical, electronic and managerial processes to safeguard the information we collect and prevent unauthorized access of information. Adminstrators of sports programs have the responsibility to protext their adiminstrator passwords to insure that unauthorized people do not have access to your site.</h5>
		<p>
		<h5 class="text-info">Eazesportz, LLC. has put in place appropriate physical, electronic and managerial processes to safeguard the information we collect and prevent unauthorized access of information. Adminstrators of sports programs have the responsibility to protext their adiminstrator passwords to insure that unauthorized people do not have access to your site.</h5>
	</div>
</div>
