<% provide(:title, "Game Tracker Publisher Media Solutions") %>
<p>
<div class="row">
	<div class="col-xs-10">
		<h1>Publisher and Media Support</h1>
		<h5>If you are a newspaper or local broadcaster looking to work with local high schools, colleges or youth programs in your area we can provide solutions that allow a local sports program to make their content available to your subscribers in real time. Our apps and cloud infrastructure provide a platform making it easy to aggregate local sports content and associated metadata in the cloud and make it available to your subscribers.</h5> 
		<h5>No publisher has enough people to send to all events. Use our platform in partnership with local sports programs to make local sports content available to your existing subscriber base. Everyone wins!</h5>
		<h5>Our cloud platform supports sponsors allowing you to manage your sponsers fixed ad copy. We can integrate sponsor support into our apps allowing you to choose an ad revenue model in addition to charging your subscribers to use the apps. We can also integrate our back end with your subscriber management infrastructure allowing you to offer your own custom solution only to your subscribers. Custom app development support is available which allows you to brand the app as your own.</h5>
		<h5>If you are interested in learning more, please contact us at <font color="blue">info@Game Tracker.com</font>.</h5>
	</div>
</div>