<% provide(:title, "Easzesportz Basketball - Eazesportz Basketball Web Site Example") %>
<div class="row">
	<div class="span10">
		<h2>Eazesportz.com Basketball Web site</h2>
		<p>
		You can use our web site to also manage your Basketball program. You can also upload a banner if you choose to use the web site for users to also access 
		your programs contant via the web. There is no charge for using the web site although we will serve ads to your users in the future.
		<p>
		We focus on mobile applications to assist you in managing your sports basketball program. You are free to use the web site as your programs page if you choose let
		your fans know where to bookmark the page. Keep in mind that the url for the site will be eazesportz.com. When your fans log in they will have access to  all your programs content.
		<p>
		We can map your URL to your landing page if you so desire. There is a cost of $99 to do so. If you are comfortable with your fans accessing your programs content from this web site, they can do so free of charge!
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Single Team Site.</h5>
	</div>
	<div class="span4 offset1">
		<h5>Multi Team Site. This is useful for high school programs (e.g. Varsity, JV, Freshman) or for youth programs that have multiple teams.</h5>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "BBallScheduleWeb.jpg" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "BBallPhotosWeb.jpg" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h4>Click here to sign up!</h4>
	</div>
</div>
<div class="row">
	<div class="span2">
	  	<%= link_to "Sign Up", admininfo_path, class: "btn btn-medium btn-primary" %>
    </div>
</div>