<% provide(:title, "Easzesportz Football - Eazesportz Football Web Site Example") %>
<div class="row">
	<div class="span10">
		<h2>Eazesportz.com Web site</h2>
		<p>
		You can use our web site to manage your Football program. You can upload a banner if you choose to use the web site giving it a customized look for your program. Your fans will also have access to all your programs contant via the web. There is no charge for using the web site although we will serve ads to your fans in the future.
		<p>
		You are free to use the web site as your programs page if you choose let
		your fans know where to bookmark the page. Keep in mind that the url for the site will be eazesportz.com. When your fans log in, your banner and logo will be displayed and they will have access to all your programs content. 
		<p>
		All the features available in our iPad Management Console are available on the web site also. If you want to map your URL to your page on this site we can help you with that also. There is a cost of $99/yr to do so. 
		<p>
		<h2>Check out the examples below:</h2>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Home Page with News Feed</h5>
		This is the landing page your fans will see. When you sign up and upload a banner, your banner will be displayed.
		<p>
		You can create news, add teams and update your prgrams information as an administrator. Your fans will not see or have access to these capabilities.
	</div>
	<div class="span4 offset1">
		<h5>Multi Team Site. This is useful for high school programs (e.g. Varsity, JV, Freshman) or for youth programs that have multiple teams (e.g. Mighty Mite, Jr. Pee Wee, Pee Wee, etc.).</h5>
	</div>
	<!--div class="span5 offset1">
		<h5>Game Score Web Page</h5>
		This is an example of a score page summary of a game. T.
	</div-->
</div>
<div class="row">
	<div class="span4">
		<%= image_tag "FB_web_home.jpeg" %>
	</div>
	<div class="span4 offset1">
		<%= image_tag "webroster.jpg" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h4>Click here to sign up!</h4>
	</div>
</div>
<div class="row">
	<div class="span2">
	  	<%= link_to "Sign Up", admininfo_path, class: "btn btn-medium btn-primary" %>
    </div>
</div>