<% provide(:title, "Eazesportz Football Web Site Example") %>
<div class="row">
	<div class="col-xs-12">
		<h2>Eazesportz.com Web site</h2>
		<p>
		You can use our web site to manage your sports program.
		<p>
		You can upload a banner if you choose to use the web site giving it a customized look for your program. Your fans will also have access to all your programs contant via the web. There is no charge for using the web site although we will serve ads to your fans in the future.
		<p>
		You are free to use the web site as your programs page. If you choose to do so make sure to let
		your fans know where to bookmark the page. Keep in mind that the url for the site will be eazesportz.com/"your program". When your fans log in, your banner and logo will be displayed and they will have access to all your programs content. 
		<p>
		If you see something you don't like or would want to see, let us know. We are here to help you and your fans get the most out of your sports program!
		<p>
		All the features available in our iPad Management Console are available on the web site also. If you want to map your URL to your page on this site we can help you with that also. There is a cost of $99/yr to do so. 
		<p>
		<h5><%= link_to "Click here to navigate our test site.", "http://powerful-everglades-2345.herokuapp.com/sports/522e2ff239ee2f58ca000004" %>
		</h5>
		<h5>Make sure to use username: <em><p class="text-info"> footballeazesportz@gmail.com</p>
		</em>Password: <em><p class="text-info">tester01</p></em>
			when prompted. You will be able to navigate features available to registered users.</h4>
	</div>
</div>
