<% provide(:title, "Eazesportz Football Web Site Example") %>
<div class="row">
	<div class="col-xs-12">
		<h2>Eazesportz.com Web site</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<p class="text-info">Web site home page example</p>
	</div>
	<div class="col-xs-6">
		<%= link_to (image_tag 'home.png', class: 'img-responsive'), 
							"http://powerful-everglades-2345.herokuapp.com/sports/522e2ff239ee2f58ca000004" %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p class="text-success">Our web site is built to work on mobile devices in addition to computers. That way, your fans can follow the action on mobile devices via the web in addition to using our mobile apps</p>
		<p>
		You can use our web site to manage your sports program and your fans can use the web site to follow your program.
		<p>
		You can upload a banner if you choose to use the web site giving it a customized look for your program.
		<p>
		Make sure you let your fans know where your site is so they can bookmark the page. Keep in mind that the url for the site will be eazesportz.com/"your program". When your fans log in, your banner and logo will be displayed and they will have access to all your programs content. 
		<p>
		If you see something you don't like or would like to see, let us know. We are here to help you and your fans get the most out of your sports program!
		<p>
		If you want to map your URL to your page on this site we can help you with that also. There is a cost of $99/yr to do so. 
		<p>
		<h5><%= link_to "Click here to navigate our test site.", "http://powerful-everglades-2345.herokuapp.com/sports/522e2ff239ee2f58ca000004" %>
		</h5>
		<h5>Make sure to use username: <em><p class="text-info"> footballeazesportz@gmail.com</p>
		</em>Password: <em><p class="text-info">tester01</p></em>
			when prompted. You will be able to navigate features available to registered users.</h4>
	</div>
</div>
