<% provide(:title, current_site.sitename + " " + @sport.name + " - New Soccer Stats") %>
<p>
<div class="row">
	<div class="col-xs-10">
		<%= link_to image_tag(@athlete.pic.url(:thumb)), sport_athlete_path(@sport, @athlete) %>
	</div>
</div>
<div class="row">
	<div class="col-xs-11">
		<%= render 'totals' %>
	</div>
</div>