<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>News for <%= @sport.sitename %></th>
    </thead>
    <% if !newsfeeds.nil? %>
        <% newsfeeds.each do |n| %>
           <tbody>
                <tr>
                    <td><%= link_to n.title, '#', :class => 'select_newsitem', :data => {:id => n.id.to_s}  %></td>
                </tr>
            </tbody>
        <% end %>
        <!--%= will_paginate newsfeeds %-->
    <% else %>
        </tbody>
            <tr><td>No News!</td></tr>
        </tbody>
    <% end %>
</table>
<% if site_owner? and current_team? %>
    <%= link_to "Add News Item", new_sport_newsfeed_path(@sport), class: "btn btn-xs btn-primary" %>
<% end %>
