<% provide(:title, 'Edit Sponsor') %>
<p>
<div class="row">
	<div class="col-xs-12">
		<%= form_for [@sport, @sponsor], :input_html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'form', f: f %>
		<% end %>
	</div>
</div>
