<% provide(:title, current_site.sitename + " " + @sport.name + " - Sponsors") %>
<div class="row">
  <div class="col-xs-10">
		<ul class="homesites">
			<div class="row">
				<div class="col-xs-12">
					<%= render 'sponsors', sponsors:  @sponsors %>
				</div>
			</div>   
		</ul>
		<div class="row">
      		<div class="col-xs-2 col-xs-offset-5">
      			<% if isAdmin? %>
					<%= link_to "Add Sponsor", new_sport_sponsor_path(@sport), class: "btn btn-sm btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>


