<% provide(:title, 'New Sponsor') %>
<div class="row">
  <div class="col-xs-12">
		<div class="hero-unit">
			<h5>Below you will be able to upload your sponsors image. You will be able to change them at anytime. 
      <p>
      You must use jpg/jpeg/png images for the sponsor image.
       <p>
      <em>Sponsor Image</em> - Sponsor images will be automatically resized for mobile devices.
      <p>
      You may create as many sponsors as you like.  They will be cycled on our mobile app automatically. They will also be automatically cycled in a queue and presented on your web site.
      <p>
      </h5><br/>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for [@sport, @sponsor], :input_html => { :class => 'form-horizontal' } do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
