<% provide(:title, 'New Sponsor') %>
<div class="row">
  <div class="col-xs-9 col-xs-offset-1">
		<div class="hero-unit">
			<h5>Below you will be able to upload your sponsors ad image. You will be able to change them at anytime. 
      <p>
      You must use jpg/jpeg images for the ad image.
       <p>
      <em>Ad Image</em> - The ad content will be used for mobile displays. If your logo is a pic or larger than 640x480, uploaded it and it will be automatically resized.
      <p>
      You may upload as many ad images for your sponsors as you like. They will be automatically cycled in a queue when your users use the mobile app. If you do enter sponsors, your app will display your sponsor's ad in addition to ads served from an ad server. You can decide to give prioirty to your sponsor's ads. The default is to display your sponsor's ads when no ads are available to be displayed from the ad server. If you have no sponsors, then you do not need to create any on this page. Your mobile app will display ad content from an ad server in the cloud.
      <p>
      You can also tag the sponsor image as follows:
      <li>Sport - Your sponsor's ad will be displayed on the intro banner only when your app starts up. This is the default option. Leave the team blank if this is the desired behavior.</li>
      <li>Team - Your sponsor's ad will be displayed when your users select a team.</li>
      <li>Sport and Team - Your sponsor's ad will be displayed for both the Sport and Team.</li>
      </h5><br/>
		</div>
	</div>
</div>
<%= render 'form' %>
