<% if current_site? %>
	<% provide(:title, current_site.sitename + " - Contact") %>
	<div class="row">
		<div class="span10 offset1">
			<h3><%= current_site.sitename + " Contact Page" %></h3>
			<p>
			<% if @contacts.empty? %>
				No contacts entered for this site!
			<% else %>
				<%= render @contacts %>
			<% end %>
			<p>
			<% if isAdmin? %>
				<div class="row">
					<div class="span2 offset3">
						<%= link_to "Add Contact", new_sport_contact_path(current_site), class: "btn btn-medium btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<p>
	<div class="row">
		<div class="span10 offset1">
			If you are having trouble logging in, please send an email to <strong><%= current_site.contactemail %></strong>
		</div>
	</div>
<% else %>
	<% provide(:title, "Contact SportzTeams.com") %>
	<div class="row">
		<div class="span8 offset1" id="backcolor">
			<h4>Contact SportzTeams.com. Email Us below at:</h4>
			<p>
			contact@sportzteams.com
		</div>
	</div>
<% end %>
