<% if current_site? %>
	<% provide(:title, current_site.sitename + " - Contact") %>
	<div class="row">
		<div class="span10 offset1">
			<h3><%= current_site.sitename + " Contact Page" %></h3>
			<p>
			<% if @contacts.empty? %>
				No contacts entered for this site!
			<% else %>
				<%= render @contacts %>
			<% end %>
			<p>
			<% if isAdmin? %>
				<div class="row">
					<div class="span2 offset3">
						<%= link_to "Add Contact", new_site_contact_path(current_site), class: "btn btn-medium btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<% provide(:title, "Contact SportzSoftware.com") %>
	<div class="row">
		<div class="span8 offset1" id="backcolor">
			<h2>Contact SportzSoftware.com. Email Us below at:</h2>
			<p>
			gzaldivar@icloud.com
		</div>
	</div>
<% end %>
