<% if current_site? %>
	<% provide(:title, current_site.sitename + " - Contact") %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h3><%= current_site.sitename + " Contact Page" %></h3>
			<p>
			<% if @contacts.empty? %>
				No contacts entered for this site!
			<% else %>
				<%= render @contacts %>
			<% end %>
			<p>
			<% if user_signed_in? %> 
				<% if site_owner? %>
					<div class="row">
						<div class="col-xs-2 col-xs-offset-3">
							<%= link_to "Add Contact", new_sport_contact_path(current_site), class: "btn btn-sm btn-primary" %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<p>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			If you are having trouble logging in, please send an email to <strong><%= current_site.contactemail %></strong>
		</div>
	</div>
<% else %>
	<% provide(:title, "Contact Eazesportz.com") %>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">
			<h4>Contact Eazesportz. Email Us below at:</h4>
			<p>
			<em>info@eazesportz.com</em>
			<p>
			<h5>Whether your question is about a sport we don't support, new features you would like to see or about our technology direction we would love to hear from you. We want to hear what you think!</h5>
		</div>
	</div>
<% end %>
