<ul class="nav nav-tabs">
  	<li class="active">
    	<%= link_to "Game Totals", sport_athlete_football_stat_football_defense_path(@sport, @athlete, @stat) %>
  	</li>
  	<li><%= link_to "Play by Play", playbyplay_sport_athlete_football_stat_football_defenses_path(@sport, @athlete, @stat) %></li>
</ul>
