<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span10">
		<table class="table table-bordered">
			<%= render 'stat_header', name: "Game" %>
			<%= render 'stat_body', stat: @defense, player: @athlete, name: @gameschedule %>
		</table>
	</div>
</div>
<div class="row">
	<div class="span2 offset4">
		<%= link_to "Totals", sport_athlete_football_defenses_path(@sport, @athlete, gameschedule_id: @defense.gameschedule_id), 
			class: "btn btn-medium btn-primary"%>
	</div>
</div>
<div class="row">
	<%= render "layouts/sponsor" %>
</div>