<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Game Totals</a>
  </li>
  <li><%= link_to "Play by Play", playbyplay_sport_athlete_football_stat_football_receivings_path(@sport, @athlete, @stat) %></li>
</ul>
