<% provide(:title, "500 - Error") %>
<p>
<div class="row">
	<div class="col-xs-10">
		<h2>Error 500</h2>
		<h3>We are sorry, the content you requested cannot be found!
		<p>
		<% if current_site? %>
			Want to <%= link_to current_site.sitename, current_site %> go back to our home page and try again?
		<% else %>
			Want to <%= link_to "Home", root_path %> go back to our home page and try again?
		<% end %>
		</h3>	
	</div>
</div>
