<% provide(:title, current_site.sitename + " " + @sport.name + " - Coaches") %>
<div class="row">
  	<div class="col-xs-11">
		<%= render 'coaches', coaches:  @coaches %>
	</div>
</div>   
<div class="row">
	<div class="col-xs-2 col-xs-offset-5">
		<% if isAdmin? %>
			<%= link_to "Add Coach", new_sport_coach_path(@sport), class: "btn btn-sm btn-primary" %>
		<% end %>
	</div>
</div>


