<% provide(:title, "IOS Products") %>
<p>
<div class="row">
	<div class="col-xs-12">
		<%= render 'productlist', products: @products %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<%= link_to "Add IOS Product", new_admin_ios_client_ad_path(@admin), class: "btn btn-md btn-primary" %>
		<%= link_to "Mobile Payments", process_payments_admin_ios_client_ads_path(@admin), class: "btn btn-md btn-success" %>
	</div>
</div>
