<% provide(:title, "IOS Products") %>
<p>
<div class="row">
	<div class="col-xs-11">
		<%= render 'productlist', products: @products %>
	</div>
</div>
<div class="row">
	<div class="col-xs-2 col-xs-offset-4">
		<%= link_to "Add IOS Product", new_admin_ios_client_ad_path(@admin), class: "btn btn-md btn-pimary" %>
	</div>
</div>
