<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="span8 offset2">
		<p>
		<%= render 'tabs_game' %>
		<p>
		<h4>Edit Punter statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for<br/>
			<%= @stat.gameschedule.game_name %></h4>
		<p>
		<%= render 'punterform' %>
	</div>
</div>