<% provide(:title, current_site.sitename + " " + @sport.name + ' - ' + @athlete.full_name) %>
<p>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<p>
		<!--%= render 'tabs_game' %-->
		<p>
		<h4>Edit Kickoff Return statistics for <%= link_to @athlete.full_name, [@sport, @athlete] %> for<br/>
			<%= @stat.gameschedule.game_name %></h4>
		<p>
		<%= render 'koreturnform' %>
	</div>
</div>