<div class="well">
	<div class="row">
		<% if !Photo.find(photo.id).nil? %>
			<p class="text-info"><%= link_to photo.displayname, sport_photo_path(@sport, photo) %></p>
		<% end %>
	</div>
	<div class="row">
		<% if !photo.large_url.nil? %>
			<%= link_to image_tag(photo.large_url, class: 'img-responsive'), sport_photo_path(@sport, photo) %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<% if !photo.large_url.nil? and photo.gameschedule_id %>
				Game:
			<% end %>
		</div>
		<div class="col-xs-6">
			<% if photo.gameschedule_id %>
				<%= link_to Gameschedule.find(photo.gameschedule_id).game_name, sport_team_gameschedule_path(@sport, current_team, 
							id: photo.gameschedule_id) %>
			<% end %>
		</div>
		<div class="col-xs-4">
			<% if !photo.players.nil? %>
				<% photo.players.each do |p| %>
					<%= link_to Athlete.find(p).logname, sport_athlete_path(@sport, id: p) %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
