<% provide(:title, current_site.sitename + " Videoclips" ) %>
<script>
  $(document).ready(function() {
    $('#select_game').change(function() {
      $.ajax({
        url: "<%= updategamelogs_sport_videoclips_path %>",
        data: {
          gameid : $('#select_game').val()
        },
        dataType: "script"
      });
    });
  });
</script>
<p> 
<p>
<div class="row">
    <div class="col-xs-12">
        <%= render @videoclips %>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-5">
            <% if !@team.nil? and user_signed_in? and (user_pics_ok? or isAdmin?) %>
                <%= link_to "Add Team Video Clip", newteam_sport_videoclips_path(@sport, team_id: @team), class: "btn btn-sm btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
