<thead>
	<% if name == "Game" %>
		<th>Game</th>
		<th>Position</th>
		<th>Number</th>
		<td>Player</td>
	<% else %>
		<th>Position</th>
		<th>Number</th>
		<th>Player</th>
	<% end %>
	<th>Goals</th>
	<th>Assists</th>
	<th>Shots</th>
	<th>Ground Balls</th>
	<th>Turnovers</th>
	<th>Caused Turnovers</th>
</thead>
