#banner {
    position: relative;
    top: 80;
    width: 1000px;
    margin: 0;
    height:150px;
    left: 50%;
    margin-left: -499px;
    z-index: 2;
}

#homebanner {
	position: relative;
	top: 80;
    width: 1000px;
    margin: 0;
    height:333px;
    left: 0%;
    margin-left: 100px;
    z-index: 2;	
}

#bodywindow {
    position: relative;
 /*   background-color:#FFFFFF; */
    top: 170;
    width: 1000px;
    margin: 0;
 /*   height:150px; */
    left: 50%;
    margin-left: -499px;     
}

#backcolor {
	background-color:#ffffff;
}

#follow {
    height: 200px;
    overflow:auto;
    margin-left: -499px;
    margin: 0;
    position: relative;
    left: 15%;
}

#newsfeed {
  overflow:auto;
  height:800px;
  width:600px;
}

#alert {
    height: 200px;
    overflow:auto;
    margin: 0;
    position: relative;
    right: 0%;  
}

#loading
{
    display:none;
    position:relative;
    left:0;
    top:0;
    width:70%;
    height:100%;
    background:rgba(255,255,255,0.8);
    z-index:1000;
}

#loadingcontent
{
    display:table;
    position:relative;
    left:0;
    top:0;
    width:50%;
    height:100%;
}

#loadingspinner
{
    display: table-cell;
    vertical-align:middle;
    width: 50%;
    text-align: center;
    font-size:larger;
    padding-top:80px;
}