<ul class="nav nav-tabs">
	<li class="active">
	    <%= link_to "Game Totals", sport_athlete_football_stat_football_passing_path(@sport, @athlete, @stat, @fbpassing) %>
	</li>
	<li><%= link_to "Play by Play Stats", add_sport_athlete_football_stat_football_passing_path(@sport, @athlete, @stat, @fbpassing) %></li>
</ul>
