<% provide(:title, "Resend confirmation instructions") %>

<div class="row">
  	<div class="col-xs-7">
		<div class="row">
		  	<div class="col-xs-4 col-xs-offset-2">
		  		<% if !@resource.default_site.nil? %>
		  			<% sport = Sport.find(@resource.default_site) %>
		  			<p>Welcome to <%= sport.sitename %>! You can confirm your account for <%= sport.sitename %> through the link below:</p>
		  		<% else %>
					<p>Welcome to Game Tracker. You can confirm your account by clicking the link below:</p>
				<% end %>

				<p>
				<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %>
				</p>
			</div>
		</div>
	</div>
</div>
