<p>
<div class="span10" id="backcolor">
	<% if !current_site? or current_site.about_filename_url.nil? %>
		</p><% provide(:title, 'About Us') %>
		<h1>About Us</h1>
		<p>
		SportzSoftware.com specializes in providing software solutions to 
		athletic programs alieviating them of the need to manage their web sites with 
		custom solutions. We provide you with a template model where you
		enter the data and your site is automatically created.</p>
		<p>
		We also allow your site vistors to display Photos, follow players, and watch live games if you choose to provide that capability.
		<p>
		We are not a simple outsource team web site. What we provide is the capability for your to monetize and sell your product - your team.  When you work with us, you will reach your fan base on mobile devices, connected TV's in addition to the web. You become your own broadcaster!</p>
		<p>
		You own the site and the product. We provide the technology. The rest is up to you!
		<p>
		Thanks for looking at us and considering our solution for your needs.
		<br/>
		<% if admin_signed_in? %>
			<div class="span6 offset2"%>
				<h4>Enter your own About Page:
				<%= link_to "Replace", updateabout_site_path(current_site), class: "btn btn-medium btn-primary" %><p>
				You will be required to enter a jpg. If you do not want to enter a new about page the text above will be displayed.</h4>
			</div>
		<% end %>
	<% else %>
		<% provide(:title, current_site.sitename + " - About Us") %>
		<h1>About <%= current_site.sitename %></h1>
		<div class="span10 offset1">
			<%= image_tag current_site.about_filename_url %><p>
			<div class="row">
				<div class="span2 offset2">
					<%= link_to "Update Page", updateabout_site_path(current_site), class: "btn btn-medium btn-primary" %>
				</div>
			</div>
		</div>
		<p>
	<% end %>	
</div>
