<% provide(:title, current_site.sitename + " - News Item") %>
<p>
<div class="row">
	<div class="span10 offset1">
		<h4>All Site News:</h4>
	  <%= render 'newsfeeds/newsfeed', feed: @newsfeed %>
	</div>
</div>