<% provide(:title, 'New Site') %>
<div class="row">
  <div class="col-xs-10">
		<div class="hero-unit">
			<h4>Below you will be able to upload your site banner, logo and background color. You will be able to change them at anytime. Recommended sizes for each are:
        <ul>
          <li>Banner:     1000x150</li>
          <li>Logo:       640x960</li>
          <li>Background: 1600x1200</li>
        </ul>
      <p>
      You must use jpg/jpeg images for the banner, logo and background. If you do not upload a banner, the standard site banner will be used (NOT RECOMMENDED). We require a jpg for background so that you can customize the background look of your site for your vistors. If you do not enter one, then a white background will be used.
      </h4>
       <p>
      <li><h4><em>LOGO</em></h4>Logo will also be used for mobile displays as your welcome logo on iPhones and iPads. If your logo is a pic or larger than 640x480, uploaded it and it will be automatically resized.</li>
      <p>
      <li><h4><em>Background</em></h4>Background will be used for your site and but most importantly for our mobile app. When your users sign into our mobile app, we render your background on the mobile pages giving your users the feeling that the app is your own! Make sure you upload a jpg/jpeg and pay careful attention to the color. Our app uses white for our font so we expect a dark background. Stay away from light backgrounds that will wash out the mobile text or your users will not be able to read the text. Once you upload your background, we will customize your app accordingly. Here is an example of a background:
      <p>
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag "smpwbackground.jpg" %>
        </div>
      </div>
      </li>
      <p>
      Once your site is created you will be asked to create a sport. Once you complete that process you can add additional teams. You will always be able to use the site just like your users do but remember that you will have ability to make changes while they will not. 
      <p>
      </h4><br/>
		</div>
	</div>
</div>
<%= render 'form' %>
