<% provide(:title, current_site.sitename) %>
<%=render 'shared/banner_title' %>
<div class="row">
  <div class="col-xs-2">
    logo goes here
  </div>
  <div class="col-xs-6">
    <%= render 'shared/news', @news %>
  </div>
  <div class="col-xs-2">
    Alert goes here
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    Ad goes here
  </div>
  <div class="col-xs-6">
  </div>
  <div class="col-xs-2">
    Ad goes here
  </div
</div>>