<p>
<font color="#b3f10c">
<div class="row">
	<div class="col-xs-10">
		<h4>
	 	<ul>
			<li>We do not charge for the website. It is the tool by which our mobile apps are supported. We do charge for the mobile app. We will need to do some customization of the app to give you the proper look and feel that brands the app for your program. When you create the site and start entering content, you will be walked thru the process of entereing the background images, logos, etc. required to customize your mobile app.</li>
			<li>You can choose to have your sponsors take the ad space on your mobile app. We will walk you through how to manage your sponser ad content so that they are the proper format for mobile display.</li>
			<li>If you don't want to provide sponsor ad content, then you ads will be served automatically to your users from the cloud.</li>
			<li>Provide advanced features for your users:</li>
			<ul>
				<li>Allow them to follow their favorite players.</li>
				<li>Have your users contribute video and pics. You can also set up the site so all pics need to be approved prior to posting.</li>
				<li>Provide stats by player. Stats are available to your users in real time and can be accessed from your mobile app!</li>
			</ul>
			<!--li>Stream your games live from your site! This will require additional setup but we can show you how!</li--><br/>
		</ul>
		You can use the site for your program or simply use the site to manage your mobile site. We can help map your domain name to the web site you create if you choose to use the site for your program in addition to offering your users mobile applications. The choice is yours.
		</h4>
		<h4><em>Examples of the kinds of sites you can create include:</em></h4>	</div>
</div>
</font>
