<p>
<font color="#b3f10c">
<div class="row">
	<div class="span10">
		<h4>Pricing packages:
		</h4>
		<table class="table table-bordered">
			<thead>
				<th><h4>Features</h4></th>
				<th><h4>Basic - Free</h4></th>
				<th><h4>Silver - </h4><h3><em><strong>$49/yr</strong></em></th></h3>
				<th><h4>Gold - </h4><h3><em><strong>$99/yr</strong></em></th></h3>
				<th><h4>Platinum - </h4><h3><em><strong>$149/yr</strong></em></th></h3>
			</thead>
			<tbody>
				<tr>
					<td>Home Page</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Schedule</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Roster</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Athlete Photos</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Coaching Staff</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Coach Photos</td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Web Site Sponsor Support</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Team Photos</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Photo Tagging</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Team Videos</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Video Tagging</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Blog</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Follow Players</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Alerts Site/Mobile</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
				<tr>
					<td>Mobile Sponsor Ad Support</td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-remove icon-white"></i></td>
					<td><i class="icon-ok icon-white"></i></td>
				</tr>
			</tbody>
		</table>
		<p>
		<li><h3>Basic</h3>The basic package will help you get started. Our mobile app will provide basic functions but very limited multimedia support.</li>
		<li><h3>Silver</h3>The Silver package adds photo support. You can add photos and organize them by team, players and games. This allows your users to search for photos by team, player or game. You can also tag a photo for multiple players.
		<li><h3>Gold</h3>The Gold package adds support for video. Like photos, you can add videos and organize them by team, players and games. This allows your users to search for videos by team, player or game. You can also tag a videos for multiple players.</li>
		<li><h3>Platinum</h3>The Platinum package allows your users to follow players and receive alers. Alerts are generated and sent to your users on the mobile app when a player is tagged in a photo or video. Alerts are also generated when they are tagged in a blog entry or news item. The Platinum package also adds support for rendering your sponsors ads on our mobile app. Use this advertising feature to raise revenue for your program.</li>
		<p>
    	<h4>Click the button to register your site. You will become the administrator for the site:</h4>
		<%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-medium btn-primary" %>
	</div>
</div>