<% provide(:title, current_site.sitename + " - Upload About Page") %>
<p>
<div class="row">
	<div class="span10" style="background-color:#ffffff;">
		<h4>Recommended size of jpg for your page is 1000x1000. You can enter something longer than 1000 pixels but we will crop the number of colums to 1000. Might look funny if you create something wider than that. You can always change it if you don't like the way it looks. You can use PhotoShop, Gimp, etc. to create the page or use Google Chrome Screen Capture Plugin to copy an existing page.<p>
		Be creative!</h4><p>
		<div class="row">
			<div class="span4 offset2">
				<h4>
				<% if @page == "About" %> 
					Upload New About Page:
				<% elsif @page == "Contact" %>
					Upload New Contact Page:
				<% end %>
				</h4>
				<%= simple_form_for current_site, url: uploadpage_site_path, method: "post", html: { class: "form-horizontal", multipart: true } do |f| %>
					<%= f.hidden_field :page, value: @page %>
					<%= f.file_field :about_filename %>
					<%= f.submit "Upload", class: "btn btn-medium btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
