<thead>
	<th></th>
	<% if name == "Game" %>
		<th>Game</th>
	<% else %>
		<td>Player</td>
	<% end %>
	<th>FGA</th>
	<th>FGM</th>
	<th>FG%</th>
	<th>3FGA</th>
	<th>3FGM</th>
	<th>3FG%</th>
	<th>FTA</th>
	<th>FTM</th>
	<th>FT%</th>
	<th><strong>Total</strong></th>
	<% if site_owner? or isTeamManager?(name == "Game" ? @athlete : @gameschedule) and name == "Player" %>
		<th>Update</th>
	<% end %>
</thead>
