<thead>
	<% if name == "Game" %>
		<th>Game</th>
	<% else %>
		<td>Player</td>
	<% end %>
	<th>FGA</th>
	<th>FGM</th>
	<th>FG%</th>
	<th>3FGA</th>
	<th>3FGM</th>
	<th>3FG%</th>
	<th>FTA</th>
	<th>FTM</th>
	<th>FT%</th>
	<th><strong>Total</strong></th>
	<th>Fouls</th>
	<th>Assists</th>
	<th>Blocks</th>
	<th>Steals</th>
	<th>Off Reb</th>
	<th>Def Reb</th>
	<th>Edit</th>
</thead>
