<% provide(:title, current_site.sitename + " " + @sport.name + " - Edit Basketball Stats") %>
<p>
<div class="row">
	<div class="span10">
		<h4>Stats for <%= link_to(@athlete.logname, [@sport, @athlete]) %> for game <%= Gameschedule.find(@bbstats.gameschedule_id).game_name %></h4>
		<table class="table table-bordered">
			<%= render "stat_header", name: "Game" %>
			<%= render "stat_body", stat: @bbstats, name: "Game" %>
		</table>
	</div>
</div>