<footer class="footer">
  <strong>
    <a href="/">Eazesportz.com Home</a>
    by Eazesportz.com, Inc.
  </strong>
  <nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contacts_path %></li>
		</ul>
  </nav>
</footer>

