<footer class="footer">
	<div class="row">
		<div class="col-xs-3">
			<strong>
			    <a href="/"><h4>Eazesportz.com Home</h4></a>
			</strong>
		</div>
		<div class="col-xs-1 col-xs-offset-5">
			<h4><%= link_to "FAQS", faqs_path %></h4>
		</div>
		<div class="col-xs-1">
			<h4><%= link_to "About",   about_path %></h4>
		</div>
	</div>
</footer>

