<div class="row">
  <div class="col-xs-11">        
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h4 class="panel-title"><%= current_site.sitename %> Sponsors</h4>
       </div>
    </div>
  </div>
</div>
<div class="row">
    <% if !(@sponsor = sponsorad(current_site)).nil? %>
        <div class="col-xs-3 col-xs-offset-1">
            <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %></td>
        </div>
     <% end %>
    <% if !(@sponsor = sponsorad(current_site)).nil? %>
        <div class="col-xs-3">
            <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %></td>
        </div>
     <% end %>
    <% if !(@sponsor = sponsorad(current_site)).nil? %>
        <div class="col-xs-3">
            <%= image_tag @sponsor.sponsorpic.url(:medium), class: 'img-responsive' %></td>
        </div>
     <% end %>
</div>
